* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(-45deg,
  #ffe0e9,
  #ffc2d4,
  #ff9ebb,
  #ff7aa2,
  #e05780,
  #b9375e,
  #8a2846,
  #602437,
  #522e38);

  background-size: 400% 400%;
  animation: gradientMove 15s ease infinite;
}

@keyframes gradientMove {
  0% {background-position: 0% 50%;}
  50% {background-position: 100% 50%;}
  100% {background-position: 0% 50%;}
}

.container {
  width: 380px;
  background: rgba(255,255,255,0.95);
  padding: 30px;
  border-radius: 20px;
  text-align: center;
}

.subtitle {
  margin-top: -10px;
  margin-bottom: 20px;
}

input {
  width: 90%;
  padding: 10px;
  margin: 8px 0;
}

button {
  padding: 8px 16px;
  background: #b9375e;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* CONTACT HOVER BOX */
.contact-card {
  background: #602437;
  color: white;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
}

.contact-details {
  display: none;
  margin-top: 10px;
  font-size: 14px;
}

.contact-card:hover .contact-details {
  display: block;
}

.audio-box {
  margin-top: 20px;
  background: #602437;
  border-radius: 15px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  width: 100%;
  height: 100%;
}

.guardian-section {
  margin-top: 25px;
  background: #f4cdd4;
  padding: 15px 20px;
  border-radius: 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  max-width: 100%;
}



.guardian-section h2 {
  margin: 0;
  font-size: 18px;
}

.switch {
  position: relative;
  width: 60px;
  height: 34px;
}


/* Toggle Switch */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #bbb;
  transition: .3s;
  border-radius: 34px;
}

.slider:before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .3s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #e91e63;
}

input:checked + .slider:before {
  transform: translateX(24px);
}
